*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(157, 187, 187);
}

.main{
  max-width: 500px;
  margin: auto;   

  
}
.img-Profie{
    width: 300px;
    height: 300px;
    padding: 20px 30px;
    overflow: hidden;
   text-align: left ;
    margin: 10px  0px 20px  ;
    display: flex;
}
ul{
    height: auto;
    width: auto ;
    list-style: none;
    gap: 10px;
    position: relative;
    margin: auto;   
}
div img{
    height: 200px;
    width: 100%;
    border: white 10px solid;
    margin:100px 50px  ;
    border-radius: 150px;
    display: flex;
}
p{
    font-size: 20px;
    width: fit-content;
}
a{
    font-size: 22px;
    text-decoration: none;
    color:rgb(111, 27, 128);
}
a:hover{
    color: wheat;
}